nav {
  width: 100% !important;
  background-color: #05203c !important;
  padding: 20px 0px;
  box-shadow: 2px 2px 5px rgb(100, 100, 111);
  position: fixed;
  top: 0;
  z-index: 1111;

  .logo {
    width: 100%;

    a {
      width: 100%;
      color: #605dec;
      font-size: 50px;
      font-weight: 700;

      span {
        color: white;
      }
    }
  }

  .css-b62m3t-container {
    display: flex;
    align-items: center;
    // width: 200px;
    border: none;
    margin-right: 10px;
  }

  .css-3r4f5f-MuiGrid-root > .MuiGrid-item {
    display: flex;
    justify-content: end;
  }

  .css-13cymwt-control {
    background-color: #fff;
  }

  .css-1dimb5e-singleValue {
    color: #fff;
  }

  .css-qbdosj-Input {
    color: #05203c;
  }

  button {
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: #605dec;
    border: none;
    padding: 5px 0px;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    border: 1px solid #605dec;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: white;
      color: #605dec;
      transition: 0.2s;
    }
  }

  .css-13cymwt-control {
    background-color: transparent;
    color: white;
  }

  .css-t3ipsp-control {
    background: transparent !important;
    border: none;
    &:hover {
      border-color: transparent;
    }
  }

  .userLogin {
    position: relative;

    .userInformation {
      position: absolute;
      bottom: -25px;
      right: 0;
      width: 150px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      text-align: center;

      a {
        color: black;
      }
    }
  }
}

@media (max-width: 576px) {
  .logo {
    a {
      font-size: 30px !important;
    }
  }
}
