@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: aviaFont;
  src: url('../font-family/gilroy-black.ttf');
}

@font-face {
  font-family: NunitoSans800;
  src: url('../font-family/Nunito\ Sans\ ExtraBold\ 800.ttf');
}

@font-face {
  font-family: GilroyBlack;
  src: url('../font-family/gilroy-black.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: GilroyBlack;
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.MuiBox-root.css-1gsv261 {
  border: none;
}

input::placeholder {
  font-family: aviaFont;
}